.start {
  width: 100%;
  height: 140ch;

  text-align: center;
  align-self: center;
  justify-content: center;
  background-color: #9AB156;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.start-page-btn {
  background-color:white;
  color: white;
  border: none;
  
  width: 200px;
  height: 30px;
  margin-bottom: 10%;
}

.question {
  width: 100%;
  height: 140ch;

  background-color: #9AB156;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.button {
  background-color:yellowgreen;
  color: white;
  border: none;
  
  width: 200px;
  height: 30px;
  margin-bottom: 10%;
}
.button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


.loading {
  width: 100%;
  height: 140ch;
  text-align: center;
  background-color: #9AB156;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.result {
  width: 100%;
  height: 140ch;
  text-align: center;
  background-color: #9AB156;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#loading-block {
  width: 200px;
  height: 250px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin: auto;
  text-align: center;
}

.question-block {
  width: 400px;
  height: 500px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin: auto;
  text-align: center;
  padding : 100px 0;
  border: 7px solid white;
}

#start-block {
  width: 400px;
  height: 600px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin: auto;
  text-align: center;
  border: 7px solid white;
}
#result-block {
  width: 500px;
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin: auto;
  text-align: center;

  border: 7px solid white;
}
.result-name {
  margin-top: 20%;
  /* margin-bottom: 10%; */
}

.result-img {
  margin-bottom: 20%;
}

.result-detail {
  margin-bottom: 20%;
}

.test-result {
  white-space: pre-wrap;
}

#show {
  display: none;
}

#login {

  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;

}